---
layout: null
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css" />
  <link rel="icon" href="{{ site.baseurl }}/src/favicon.ico" />
</head>

<body>

  <header class="site-header">
    <div class="header-bg"></div>
    <div class="header-content">
      <h1>KINDKID</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/blog.html">Blog</a>
        <a href="/animals/">Animals</a>
      </nav>
    </div>
  </header>

  <div class="swift-container">
    <div class="marquee">
      <span id="putlelonglisthereboy"></span>
    </div>
    {{ content }}
    <div id="space">
      <div class="stars"></div>
      <div class="stars"></div>
      <div class="stars"></div>
      <div class="stars"></div>
      <div class="stars"></div>
    </div>
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-358cf307-84ca-457b-927f-4147163626f5" data-elfsight-app-lazy></div>
  </div>
  <audio autoplay loop>
    <source
      src="https://github.com/kindkid27/Kindkid27/raw/refs/heads/main/src/kindkid.xyz/Carefree%20%E2%80%93%20Kevin%20MacLeod%20(No%20Copyright%20Music)%20(3).mp3"
      type="audio/mpeg" />
  </audio>
  <script src="{{ site.baseurl }}/script.js"></script>
</body>

</html>