---
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}/kindkid27.xyz/styles.css">

<div id="container">
    <div class="hotlinks">
        <a href="/kindkid27.xyz/"><button class="button">Home</button></a>
        <a href="/kindkid27.xyz/animals"><button class="button">My Animals</button></a>
        <a href="/kindkid27.xyz/blog"><button class="button">Blog</button></a>
        </div>
    </div>
    <h1>{{ page.title }}</h1>
    <p class="post-date">{{ page.date | date: "%B %d, %Y" }}</p>
    <div class="post-content">
        {{ content }}
    </div>
</div>
